<?xml version="1.0" encoding="UTF-8"?>
<config>
    <season_id>26</season_id>
    <base_url>https://www.football.org.il/team-details/?team_id={team_id}&amp;season_id=26</base_url>
    <clubs>
        <club>
            <name>Maccabi Tel Aviv</name>
            <club_id>1061</club_id>
            <teams>
                <team>
                    <name>Youth A</name>
                    <team_id>1593</team_id>
                </team>
                <team>
                    <name>Youth B</name>
                    <team_id>1607</team_id>
                </team>
                <team>
                    <name>Youth C</name>
                    <team_id>1338</team_id>
                </team>
            </teams>
        </club>

        <club>
            <name>Maccabi Petah Tikva</name>
            <club_id>1064</club_id>
            <teams>
                <team>
                    <name>Youth A</name>
                    <team_id>1598</team_id>
                </team>
                <team>
                    <name>Youth B</name>
                    <team_id>1052</team_id>
                </team>
                <team>
                    <name>Youth C</name>
                    <team_id>1231</team_id>
                </team>
            </teams>
        </club>

        <club>
            <name>Maccabi Haifa</name>
            <club_id>1005</club_id>
            <teams>
                <team>
                    <name>Youth A</name>
                    <team_id>1023</team_id>
                </team>
                <team>
                    <name>Youth B</name>
                    <team_id>1432</team_id>
                </team>
                <team>
                    <name>Youth C</name>
                    <team_id>1029</team_id>
                </team>
            </teams>
        </club>

        <club>
            <name>Hapoel Tel Aviv</name>
            <club_id>2176</club_id>
            <teams>
                <team>
                    <name>Youth A</name>
                    <team_id>2303</team_id>
                </team>
                <team>
                    <name>Youth B</name>
                    <team_id>2227</team_id>
                </team>
                <team>
                    <name>Youth C</name>
                    <team_id>2204</team_id>
                </team>
            </teams>
        </club>
    </clubs>
</config> 
